<div class="container">
    <h2>Editar datos de <%= @pet.name%> </h2>

    <%= render 'form', pet: @pet %>
    <br>
    <%= link_to 'Detalles', client_pet_path(@client, @pet) %> 
    <br>
    <%= link_to 'Mascotas', client_pets_path(@client) %>
</div>