<div class="container">
    <h2>Nueva mascota de <%= @client.name %> </h2>
    <br>
    <%= render 'form', pet: @pet %>

    <br>
    <%= link_to 'Mascotas de ' + @client.name , client_pets_path(@client) %>
</div>