<div class="container">
    <h3>Editando control de <%= @pet.name + " del " + @pet_history.get_date%> </h3>
    <br>
    <%= render 'form', pet_history: @pet_history %>
    <br>
    <%= link_to 'Detalles', client_pet_pet_history_path(@client,@pet,@pet_history) %> 
    <br>
    <%= link_to 'Historial de '+@pet.name , client_pet_pet_histories_path(@client, @pet) %>
</div>