<div class="container">
    <h3>Control de <%= @pet.name %> </h3>
    <br>
    <%= render 'form', pet_history: @pet_history %>

    <br>
    <%= link_to 'Historial de '+@pet.name , client_pet_pet_histories_path(@client, @pet) %>
</div>